/* main page */
.box{
 border: 1px solid black;
}

body {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.menu {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1%;
    color: white;
    max-height: none;
}

.label {
    font-size: 20px;
}

.button {
    border: solid 2px black;
    border-radius: 15px;
    background-color: white;
}

.button:hover {
    background-color: black;
    color: white;
}

#coordinates {
    width: 100%;
}

input {
    border: solid 2px black;
    border-radius: 15px;
}

input:focus {
    outline: rgba(29, 11, 190, 0.5);
    box-shadow: 0 0 5px;
}

#map {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -5;
}

#toggle-icon{
    color: rgba(255, 255, 255, 0.9);
}

.toggle {
    background-color: rgba(0, 0, 0, 0.5);
    height: 45px;
}

.toggle:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.btn.update {
    color: black;
    background-color: rgba(0, 187, 0, 0.8);
    border: black;
}

.btn.update:hover {
    background-color: rgba(0, 187, 0, 1);
    ;
    outline: rgba(29, 11, 190, 0.5);
    box-shadow: 0 0 5px;
}

.btn.reset {
    color: black;
    background-color: rgba(255, 0, 0, 0.8);
    border: black;
}

.btn.reset:hover {
    background-color: rgba(255, 0, 0, 1);
    outline: rgba(29, 11, 190, 0.5);
    box-shadow: 0 0 5px
}

.hidden {
    display: none;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: none;
    overflow: hidden;
}

/* setting and help window*/
.setting-window, .help-window {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 60%;
    height: 60%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: gray;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    z-index: 1000;
}

.setting-window.show, .help-window.show{
    display: block;
}

.setting-scroll, .help-scroll{
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 75%;
}

#setting-title, #help-title{
    font-size: 20px;
    margin-bottom: 10px;
}

#close-setting, #close-help{
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: black;
    background-color: rgba(255, 0, 0, 0.8);
    border: transparent;
}

#close-setting:hover, #close-help:hover{
    background-color: rgba(255, 0, 0, 1);
    outline: rgba(29, 11, 190, 0.5);
    box-shadow: 0 0 5px
}

.marker-image{
    min-height: 135px;
}

.image{
    max-width: 100px;
    min-width: 40px;
    max-height: 100px;
    min-height: 40px;
    display: block;
    margin: auto;
}

.form-label{
    display: block;
}

#markerSelect{
    background-color: rgba(219, 219,219, 1);
}

/* help window */
.help-text{
    text-align: left;
    margin: 0 50px 0 50px;
}

.help-text div{
    margin: 0 0 10px 10px;
}

.help-text ul li{
    margin-bottom: 10px;
}

/* help button */
.help-button-container{
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px;
}

#help-button, #setting-button,
#place-marker-button, #random-button{
    display: flex;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    border: transparent;
    color: white;
}

#help-button:hover, #setting-button:hover,
#place-marker-button:hover, #random-button:hover{
    border: solid 1px rgba(0, 0, 0, 0.8);
    background-color: rgba(0, 0, 0, 0.8);
}

/* setting button */
.setting-button-container{
    position: absolute;
    bottom: 0;
    left: 50px;
    margin: 10px;
}

/* place marker button */
.place-marker-container{
    position: absolute;
    bottom: 0;
    left: 100px;
    margin: 10px;
}

/* random button container */
.random-button-container{
    position: absolute;
    bottom: 0;
    left: 150px;
    margin: 10px;
}

/* message */
#message{
    text-align: center;
    font-size: 20px;
}

/* media */
@media screen and (max-width: 768px){
    .menu{
        max-height: 250px;
        overflow-y: auto;
    }

    .help-window{
        padding: 2px;
        width: 80%;
    }

    .help-scroll{
        max-height: 73%;
    }

    .setting-window{
        width: 80%;
    }
}